*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 60px;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.cards {
  color: #333;
}

.icons {
  height: 15vh;
}

#home-quote {
  background: url('../img/bg-quote.jpg') center center;
  background-size: cover;

  & footer {
    color: #ff3;
  }
}


@media (max-width: 767px) {
  body {
    padding-top: 0;
  }
  
  .fixed-top {
    position: relative;
  }
  
  #home-quote {
    padding: 2vh;
    
    em, footer {
      font-size: 0.5em;
    }
  }
}

.shadow-list li {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.shadow-list li:last-child {
  border-bottom: none;
}
      
.shadow-list li {
  padding: 10px;
}